fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-dotenv
pytest
pytest-asyncio
httpx
passlib
python-jose
python-multipart
email-validator
python-jose[cryptography]
bcrypt
python-jose[pycryptodome]
pydantic
fastapi-mail
razorpay
resend
